<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% set panelId = gameRoot.id + "1" %}
    {% set stat = " in" %} 
    {# If stat = in then already collapsed, else stat = "" #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ panelId }}">
            <h4 class="panel-title">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{ panelId }}" aria-expanded="false" aria-controls="collapse{{ panelId }}">
                    {# Custom code#}
                    Version(s) <span class="badge">{{ gameRoot.games_version | length }}</span>
                </button>
            </h4>
        </div>
        <div id="collapse{{ panelId }}" class="panel-collapse collapse{{ stat }}" role="tabpanel" aria-labelledby="heading{{ panelId }}">
            <div class="panel-body">

                {% if gameRoot.games_version | length != 0 %}
                    {% set games = gameRoot.games_version  %}
                    {{ include('gameroot/_accordion_slide.twig') }}
                {% endif %}
                {# Custom code #}
                {#  {% for game in gameRoot.games_version %}
                      {{ include('game/_card_mini.twig') }}
                  {% endfor %}#}
            </div>
        </div>
    </div>

    {% if gameRoot.games_edition | length != 0 %}
        {% set panelId = gameRoot.id + "2" %}
        {% set stat = "" %}
        {# If stat = in then already collapsed, else stat = "" #}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ panelId }}">
                <h4 class="panel-title">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{ panelId }}" aria-expanded="false" aria-controls="collapse{{ panelId }}">
                        {# Custom code#}
                        Extension / DLC
                    </button>
                </h4>
            </div>
            <div id="collapse{{ panelId }}" class="panel-collapse collapse{{ stat }}" role="tabpanel" aria-labelledby="heading{{ panelId }}">
                <div class="panel-body">
                    {# Custom code #}

                </div>
            </div>
        </div>
    {% endif %}

    {% if gameRoot.games_edition | length != 0 %}
        {% set panelId = gameRoot.id + "3" %}
        {% set stat = "" %}
        {# If stat = in then already collapsed, else stat = "" #}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ panelId }}">
                <h4 class="panel-title">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{ panelId }}" aria-expanded="false" aria-controls="collapse{{ panelId }}">
                        {# Custom code#}
                        Special Edition <span class="badge">{{ gameRoot.games_edition | length }}</span>
                    </button>
                </h4>
            </div>
            <div id="collapse{{ panelId }}" class="panel-collapse collapse{{ stat }}" role="tabpanel" aria-labelledby="heading{{ panelId }}">
                <div class="panel-body">
                    {# Custom code #}
                    {% for game in gameRoot.games_edition %}
                        {{ include('game/_card_mini.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</div>