
<div class="platorm_card row">

    <div class="col-md-12 well">

        {# Game root#}
        <div class="row card_row">
            <div class="col-xs-12">
                <h3 style="display:inline">{{ gameRoot.title }}</h3>
{#                Bouton view#}
                <a title='Show' class="btn btn-info btn-sm" href="{{ path('gameroot_show', { 'id': gameRoot.id }) }}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                </a>
                {# Game root Arts#}
                <span class="label label-primary pull-right">
                    | Fanart(s) : <span class="badge">{{ gameRoot.games[0].Fanarts | length }}</span>

                    | Banner(s) : <span class="badge">{{ gameRoot.games[0].Banners | length }}</span>

                    | Screenshot(s) : <span class="badge">{{ gameRoot.games[0].Screenshots | length }}</span>
                </span>
            </div>
            <div class="col-xs-12">
                <p>
                    <small>
                        {#      {% if game.alternateTitles | length != 0 %}
                                  A.k.a.(s) :
                              {% endif %}
                              {% for alt in game.alternateTitles %}
                                  | {{ alt.title }} |
                              {% endfor %}#}
                    </small>
                </p>
            </div>
        </div>
        {# Overview#}
        <div class="row card_row">
            <div class="col-xs-12">
                {% if gameRoot.overview | length != 0 %}
                    {{ gameRoot.overview | truncate(400) }}
                {% else %}
                    {{ gameRoot.games[0].overview | truncate(400) }}
                {% endif %}
            </div>
        </div>

        {# Games #}
        <div class="row card_row">
            {% for game in gameRoot.games %}
                {{ include('game/_card_mini.twig') }}
            {% endfor %}
        </div>

    </div>

</div>
