{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ parent() }} - gameRoot index
{% endblock %}

{% block body %}

    {{ include('gameroot/_menu_top.twig') }}

    {{ include('gameroot/_card_grid.html.twig') }}
    
    {% for gameRoot in gameRoots %}
        {#        {% set games = gameRoot.games %}#}
        {% if gameRoot.games | length == 1 %}
            {{ include('gameroot/_card_single.twig') }}
        {% else %}
            {{ include('gameroot/_card_multi.twig') }}
        {% endif %}
    {% endfor %} 

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %} 
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %} 
            {% endfor %} 
        </div>
    </div>


    <div class="row">

        <div class="table-responsive col-md-12">
            {#                <form method="POST" id="bulk_form" action="{{ path('gameroot_bulk_action') }} ">#}
            <form method="POST" id="bulk_form" action="{{ path('gameroot') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'gameroot')}}</th>
                            <th>{{macros.th_sortable('title',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'gameroot')}}</th>
                            <th>{{macros.th_sortable('overview',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'gameroot')}}</th>


                            <th width = "130px">List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gameRoot in gameRoots %}
                            <tr>
                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{gameRoot.id}}"/></td>
                                <td>{{ gameRoot.id }}</td>
                                <td>{{ gameRoot.title }}</td>
                                <td>{{ gameRoot.overview }}</td>

                                <td class="actions">
                                    <a title='Show' class="btn btn-info btn-sm" href="{{ path('gameroot_show', { 'id': gameRoot.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                </td>


                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>


        </div>
    </div> <!-- /#list -->




    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2 text-right">
            {{ pagerHtml|raw }} 
        </div>
    </div> <!-- /#bottom -->



{% endblock %}

