<div class="col-md-3">

    <div class="card_img-wrapper">
        {% if game.BoxartFront | length == 0 %}
            <img class="img-responsive center-block" src="{{ asset('images/generique.png') }}" alt="image" />
        {% else %}
            <img class="img-responsive center-block" src="/images{{ asset(game.BoxartFront.linkThumb) }}" alt="image" />
        {% endif %}
    </div>

    <div class="row card_row">
        <p class="text-center">Id : {{ game.id }}</p>
    </div>
    <div class="row card_row text-center">
        <span class="label label-primary text-center">{{ game.platform.name }}</span>
    </div>
    <div class="row card_row text-center">
        <span class="label label-primary text-center">{{ game.releaseDate | date('Y-m-d') }}</span>
    </div>

    <div class="row card_row">
        Boxart front :
        {% if game.BoxartFront | length == 0 %}
            <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
        {% else %}
            <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
        {% endif %}
    </div>

    <div class="row card_row">
        | Boxart back :
        {% if game.BoxartBack | length == 0 %}
            <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
        {% else %}
            <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
        {% endif %}
    </div>

    <div class="row card_row">
        | Clearlogo :
        {% if game.Clearlogo | length == 0 %}
            <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
        {% else %}
            <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
        {% endif %}
    </div>

    <div class="row card_row">
        | Fanart(s) : <span class="badge">{{ game.Fanarts | length }}</span>
    </div>

    <div class="row card_row">
        | Banner(s) : <span class="badge">{{ game.Banners | length }}</span>
    </div>

    <div class="row card_row">
        | Screenshot(s) : <span class="badge">{{ game.Screenshots | length }}</span>
    </div>

    <div class="row card_row text-center">
        <a title='Show' class="btn btn-info btn-sm" href="{{ path('game_show', { 'id': game.id }) }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
        </a>
    </div>
</div>