
{% for game in games %}

    <div class="platorm_card row well">
        <div class="col-md-2">
            {% if game.BoxartFront | length == 0 %}
                <img class="img-fluid" src="{{ asset('images/generique.png') }}" alt="image" />
            {% else %}
                <img class="img-fluid" src="/images{{ asset(game.BoxartFront.linkThumb) }}" alt="image" />
            {% endif %}
            <p class="text-center">Id : {{ game.id }}</p>

        </div>

        <div class="col-md-10">


            <div class="row card_row">
                <div class="col-xs-12">
                    <h3 style="display:inline">{{ game.title }}</h3>
                    <span class="label label-primary pull-right">{{ game.platform.name }}</span>
                </div>
                <div class="col-xs-12">
                    <p>
                        <small>
                            {% if game.alternateTitles | length != 0 %}
                                A.k.a.(s) :
                            {% endif %}
                            {% for alt in game.alternateTitles %}
                                | {{ alt.title }} |
                            {% endfor %}
                        </small>
                    </p>
                </div>
            </div>
            <div class="row card_row">
                <div class="col-xs-12">
                    {{ game.overview | truncate(400) }}
                </div>
            </div>
            <div class="row card_row">
                <div class="col-xs-12">
                    Boxart front :
                    {% if game.BoxartFront | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | Boxart back :
                    {% if game.BoxartBack | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | Clearlogo :
                    {% if game.Clearlogo | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | Fanart(s) : <span class="badge">{{ game.Fanarts | length }}</span>

                    | Banner(s) : <span class="badge">{{ game.Banners | length }}</span>

                    | Screenshot(s) : <span class="badge">{{ game.Screenshots | length }}</span>

                </div>
            </div>

            {% if game.GameLinksChild | length != 0 %}
                <div class="row card_row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <th>Platform</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                {% for link in game.GameLinksChild %}
                                    <tr>
                                        <td> <span class="label label-primary">{{ link.gameParent.platform.name }}</span></td>
                                        <td>
                                            {{ link.gameParent.title }}
                                        </td> 
                                        <td>
                                            <a title='Show' class="btn btn-info btn-sm" href="{{ path('game_show', { 'id': link.gameParent.id }) }}">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <hr/>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endfor %}