{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ parent() }} - game index
{% endblock %}

{% block subNav %}
    {{ knp_menu_render('AppBundle:Builder:subGameMenu', {'currentClass': 'active'}) }}
{% endblock %}

{% block body %}

    {{ include('game/_menu_top.twig') }}

    {% for game in games %}
        {{ include('game/_card_row.twig') }}
    {% endfor %}
    
    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2 text-right">
            {{ pagerHtml|raw }} 
        </div>
    </div> <!-- /#bottom -->

{% endblock %}

