<!DOCTYPE html>
<html>
    {{ include('layout/head.html.twig') }}
    <body>

        <div class="container-fluid">
            {{ include('layout/header.html.twig') }}
        </div>

        <div class="container">
            {% block subNav %}
                {#                {{ knp_menu_render('AppBundle:Builder:subGameMenu', {'currentClass': 'active'}) }}#}
            {% endblock %}
            <br>
        </div>

        <div id="main" class="container">

            <section id = "main_panel" class="panel row">
                {{ wo_render_breadcrumbs() }}
                {% block menu_content %}
                {% endblock %}
                <div class="panel-body col-md-12">
                    {{ include('layout/_flash_message_block.html.twig') }}
                    {% block body %}
                    {% endblock %}
                    {#           {% if pagerHtml is defined %}
                                   {{ pagerHtml | raw}}
                               {% endif %}#}
                </div>
            </section>

        </div>
        <div id="footer" class="container-fluid">
            {{ include('layout/footer.html.twig') }}
        </div>
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
        {% block js %}
        {% endblock %}
        {{ include('layout/js.html.twig') }}
    </body>
</html>