
{% for platform in platforms %}

    <div class="platorm_card row well">
        <div class="col-md-2">
            {% if platform.Boxart | length == 0 %}
                <img class="img-responsive" src="{{ asset('images/generique.png') }}" alt="image" />
            {% else %}
                <img class="img-responsive" src="/images{{ asset(platform.Boxart.linkThumb) }}" alt="image" />
            {% endif %}

        </div>

        <div class="col-md-10">


            <div class="row card_row">
                <div class="col-xs-12">
                    <h3>{{ platform.name }}</h3>
                    Game(s) : <span class="badge">{{ platform.gameCount }}</span>
                    {% if platform.releases | length != 0 %}
                        A.k.a.(s) :
                    {% endif %}
                    {% for release in platform.releases %}
                        {{ release.name }} |
                    {% endfor %}
                </div>
            </div>
            <div class="row card_row">
                <div class="col-xs-12">
                    {{ platform.overview | truncate(400) }}
                </div>
            </div>
            <div class="row card_row">
                <div class="col-xs-12">
                    Boxart :
                    {% if platform.Boxart | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | ConsoleArt :
                    {% if platform.ConsoleArt | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | ControllerArt :
                    {% if platform.ControllerArt | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | Clearlogo :
                    {% if platform.Clearlogo | length == 0 %}
                        <img class="" src="{{ asset('images/cross_16.png') }}" alt="image" />
                    {% else %}
                        <img class="" src="{{ asset('images/tick_16.png') }}" alt="image" />
                    {% endif %}

                    | Fanart(s) : <span class="badge">{{ platform.Fanarts | length }}</span>

                    | Banner(s) : <span class="badge">{{ platform.Banners | length }}</span>

                </div>
            </div>

            <div class="row card_row">
                <div class="col-xs-12">
                    <a title='Show' class="btn btn-primary btn-sm" href="{{ path('platform_show', { 'id': platform.id }) }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                    </a>
                    <a title='Show' class="btn btn-default btn-sm" href="{{ path('game', { 'platform': platform.id, 'filter_action': 'filter' }) }}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Browse games
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endfor %}