

<h3>Generation Navigation</h3>
<div id="tree">
</div>

{#<div id="tree_test">
    {{ tree | json_encode() }}
</div>#}

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var tree = {{ tree | json_encode() | raw }};
                $('#tree').treeview({
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-plus",
            collapseIcon: "glyphicon glyphicon-minus",
    {#            nodeIcon: "glyphicon glyphicon-user",#}
                enableLinks: true,
                showTags: true,
                data: tree, // data is not optional
                levels: 1
    {#            backColor: 'blue'#}
            });
        });
</script>

<div id="accordion">

    {% for generation in generations %}
        <div class="card">
            <div class="card-header" id="gen{{ generation.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGen{{ generation.id }}" aria-expanded="true" aria-controls="collapseGen{{ generation.id }}">
                        {{ generation.name }} <span class="badge badge-pill badge-secondary">{{ generation.platforms | length }}</span>
                    </button>
                </h5>
            </div>

            <div id="collapseGen{{ generation.id }}" class="collapse show" aria-labelledby="gen{{ generation.id }}" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    {% endfor %}

</div>