{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ parent() }} - platform index
{% endblock %}

{% block subNav %}
    {{ knp_menu_render('AppBundle:Builder:subPlatformMenu', {'currentClass': 'active'}) }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ include('platform/_menu_top.twig') }}
            {{ include('platform/_card.twig') }}

        </div>
        <{#div class="col-md-3">
            {{ render(controller('AppBundle:Platform:nav_generation')) }}
        </div>#}
    </div> 

    <div class="row">

        <div class="col-md-6 col-md-offset-2 text-right">
            {{ pagerHtml|raw }} 
        </div>
    </div> <!-- /#bottom -->



{% endblock %}

